body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-container-mobile-tab {
  background-image: url('../images/black-tea-on-dark-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 400px;
}

.topnav {
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.logo-image {
  height: 80px;
  width: 20%;
  border-radius: 50%;
}

.header-container-desktop {
  display: none;
}

.header-text {
  font-family: cursive, san-serif;
  font-size: large;
  padding-top: 10px;
  text-align: center;
}

/* Check out our products section */
.grid-image {
  margin-left: 20px;
}

.products {
  background-color: #28282b;
}

.product-section {
  margin-top: -38px;
}

/* Footer Section */
.footer-container {
  background-color: currentColor;
}

.brand-icons {
  display: flex;
  column-gap: 1em;
  justify-content: center;
}

.icon-text {
  margin: 20px 0 0 25px;
}

.copyright-icon {
  font-size: medium;
  padding-right: 10px;
}

.copyright-text {
  font-size: small;
  letter-spacing: 5px;
}

/* tab view */
@media screen and (min-width: 768px) {
  .header-container-mobile-tab {
    height: 600px;
  }

  .topnav a {
    font-size: 25px;
  }

  .header-text {
    font-size: xx-large;
  }

  .logo-image {
    width: 12%;
  }

  /* Check out our products section */
  .grid-image {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 25px;
  }

  .products-image {
    width: 340px;
  }

  .product-section {
    margin-top: -55px;
  }

  /* Footer Section */
  .icon-text {
    justify-content: center;
  }
}

/* desktop view */
@media screen and (min-width: 1024px) {
  .header-container-mobile-tab {
    display: none;
  }

  .header-container-desktop {
    display: block;
    background-image: url('../images/black-tea-and-ten-other-tea-that-are-very-healthy-for-the-body.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    height: 600px;
  }

  .topnav {
    display: flex;
  }

  .active {
    width: -webkit-fill-available;
  }

  .topnav #myLinks {
    display: flex;
  }

  .topnav a {
    color: powderblue;
  }

  .logo-image {
    width: 10%;
  }

  /* Check out our products section */
  .product-section {
    display: flex;
    margin-top: -110px;
  }

  .grid-image {
    display: flex;
    column-gap: 1.5em;
  }

  .products-image {
    width: 220px;
  }

  .inventory {
    margin-bottom: 50px;
  }
}

/* Mega desktop view for xx-large screens */
@media screen and (min-width: 1400px) {
  .header-container-desktop {
    height: 700px;
  }

  .logo-image {
    width: 5%;
  }

  /* Check out our products section */
  .products-image {
    width: 300px;
  }

  .product-section {
    margin-top: -135px;
  }

  /* Footer Section */
  .footer-container {
    margin-top: 1px;
  }
}
