body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.header-container-mobile-tab {
  background-image: url('../../../services/assets/images/black-tea-on-dark-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 400px;
}

.topnav {
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.logo-image {
  height: 80px;
  width: 20%;
  border-radius: 50%;
}

.header-container-desktop {
  display: none;
}

.header-text {
  font-family: cursive, san-serif;
  font-size: large;
  padding-top: 10px;
  text-align: center;
}

/* Explore Our Services section */
.explore-section {
  background-color: #c0c0c06b;
}

.text-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.recipes-container {
  background-color: greenyellow;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
  padding-left: inherit;
  padding-right: inherit;
}

.services-image {
  border: 2px solid gold;
}

.services-icon {
  position: relative;
  bottom: 1em;
  left: 4.2em;
  background-color: orange;
  border-radius: 50%;
  padding: 10px;
}

.custom-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border: 2px solid gold;
  border-top: none;
}

.text-custom {
  text-align: center;
  letter-spacing: 3px;
}

/* tab view */
@media screen and (min-width: 768px) {
  .header-container-mobile-tab {
    height: 600px;
  }

  .topnav a {
    font-size: 25px;
  }

  .header-text {
    font-size: xx-large;
  }

  .logo-image {
    width: 12%;
  }

  /* Explore Our Services section */
  .explore-section2 {
    margin-left: 50px;
  }

  .recipes-container {
    margin-right: 0;
    max-width: min-content;
  }

  .text-explore {
    margin-top: -45px;
  }
}

/* desktop view */
@media screen and (min-width: 1024px) {
  .header-container-mobile-tab {
    display: none;
  }

  .header-container-desktop {
    display: block;
    background-image: url('../../../services/assets/images/black-tea-and-ten-other-tea-that-are-very-healthy-for-the-body.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    height: 600px;
  }

  .topnav {
    display: flex;
  }

  .active {
    width: -webkit-fill-available;
  }

  .topnav #myLinks {
    display: flex;
  }

  .topnav a {
    color: powderblue;
  }

  .logo-image {
    width: 10%;
  }

  /* Explore Our Services section */
  .explore-section2 {
    margin-left: 0;
  }

  .text-explore {
    margin-top: -105px;
  }
}

/* Mega desktop view for xx-large screens */
@media screen and (min-width: 1400px) {
  body {
    margin: 0 150px 0 150px;
  }

  .header-container-desktop {
    height: 700px;
  }

  .logo-image {
    width: 5%;
  }

  /* Explore Our Services section */
  .explore-section2 {
    margin-left: 290px;
  }
}
