body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.header-container-mobile-tab {
  background-image: url('../images/black-tea-on-dark-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 400px;
}

.topnav {
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.logo-image {
  height: 80px;
  width: 20%;
  border-radius: 50%;
}

.header-container-desktop {
  display: none;
}

.header-text {
  font-family: cursive, san-serif;
  font-size: large;
  padding-top: 10px;
  text-align: center;
}

/* about our products section */
.text-spacing {
  margin-top: 35px;
  text-align: justify;
}

.text-about {
  font-family: cursive, sans-serif;
}

.text-web {
  font-family: fantasy, sans-serif;
}

/* Check out our products section */
.grid-image {
  margin-left: 20px;
}

.products {
  background-color: #28282b;
}

/* tab view */
@media screen and (min-width: 768px) {
  .header-container-mobile-tab {
    height: 600px;
  }

  .topnav a {
    font-size: 25px;
  }

  .header-text {
    font-size: xx-large;
  }

  .logo-image {
    width: 12%;
  }

  /* about our products section */
  .about-sector {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about-image {
    padding-left: 150px;
  }

  .text-spacing {
    width: 50%;
    text-align-last: center;
  }

  .section-image {
    width: 500px;
    height: 300px;
  }

  /* Check out our products section */
  .grid-image {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 25px;
  }

  .products-image {
    width: 340px;
  }
}

/* desktop view */
@media screen and (min-width: 1024px) {
  .header-container-mobile-tab {
    display: none;
  }

  .header-container-desktop {
    display: block;
    background-image: url('../images/black-tea-and-ten-other-tea-that-are-very-healthy-for-the-body.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    height: 600px;  
  }

  .topnav {
    display: flex;
  }

  .active {
    width: -webkit-fill-available;
  }

  .topnav #myLinks {
    display: flex;
  }

  .topnav a {
    color: powderblue;
  }

  .logo-image {
    width: 10%;
  }

  /* about our products section */
  .about-sector {
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 100px;
  }

  .about-image {
    padding-left: 0;
  }

  .section-image {
    width: 500px;
  }

  .text-spacing {
    margin-top: 0;
    width: auto;
    text-align: start;
    text-align-last: start;
  }

  /* Check out our products section */
  .product-section {
    display: flex;
  }

  .grid-image {
    display: flex;
    column-gap: 1.5em;
  }

  .products-image {
    width: 220px;
  }

  .inventory {
    margin-bottom: 50px;
  }

}

/* Mega desktop view for xx-large screens */
@media screen and (min-width: 1400px) {
  body {
    margin: 0 150px 0 150px;
  }

  .header-container-desktop {
    height: 700px;
  }

  .logo-image {
    width: 5%;
  }

  /* about our products section */
  .section-image {
    width: 600px;
    height: 250px;
    margin-left: 100px;
  }

  .text-spacing {
    margin-right: 50px;
  }

  /* Check out our products section */
  .products-image {
    width: 300px;
  }
}